@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* seafoam theme */
@font-face {
	font-family: 'Playfair Display';
	src: url('/fonts/PlayfairDisplay-Italic.ttf');
	font-display: swap;
}
html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}
